<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Orders</title>
  <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
<%- include('header') %>
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Items</th>
            <th>Order Date</th>
            <th>Status</th>
            </th>
          </tr>
        </thead>
      
        <tbody>
          <% for(var i=0; i < result.length; i++) { %>
          <tr>
            <td><%= result[i].name %></td>
            <td><%= result[i].email %></td>
            <td><%= result[i].address %></td>
            <td><%= result[i].item %></td>
            <td><%= result[i].orderDate.toDateString() %></td>
            <td><%= result[i].status %></td>
            <% if (result[i].status == "Dispatched") { %>
              <td><input type="button" name="sendEmail" value="Send Email" class="btn btn-primary"></td>
            <% }; %>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>