<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body onload= <% if (message) { %> myFunction() <% } %>>

<%- include('admin-header') %>

<div class="container" style="min-height: 550px;">
<br>
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Posted On</th>
          </tr>
        </thead>

        <tbody style="min-height: 30px; overflow: hidden;">
          <% for(var i=0; i < result.length; i++) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= result[i].title %></td>
            <td><%= result[i].detail %></td>
            <td><%= result[i].created %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<%- include('footer') %>

<script>
  function myFunction() {
    alert("<%= message %>");
  }
</script>

</body>
</html>